// COMPONENTS: ASSIGN LABEL

.assign-label {
	position: relative;
	z-index: 2;
}

.assign-label-dropdown {
	position: absolute;
	top: -2.2rem;
	left: 0;
	width: 26rem;
	transform: scale(.8);
	transform-origin: 0 0;
	transition: opacity $anim-speed-normal $anim-easing,
				visibility $anim-speed-instant $anim-linear $anim-speed-normal,
				transform $anim-speed-normal $anim-easing;
	background-color: $color-white;
	box-shadow: 0 .1rem .3rem rgba($color-black, .3);
	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	&.is-visible {
		transform: scale(1);
		transition: opacity $anim-speed-normal $anim-easing,
					visibility $anim-speed-instant $anim-linear,
					transform $anim-speed-normal $anim-easing;
		opacity: 1;
		visibility: visible;

		> .assign-label-content {
			transform: translateY(0);
			transition: opacity $anim-speed-normal $anim-easing $anim-speed-fast,
						transform $anim-speed-normal $anim-easing $anim-speed-fast;
			opacity: 1;
		}

	}

}

.assign-label-content {
	transform-origin: 0 0;
	transform: translateY(-.8rem);
	transition: opacity $anim-speed-normal $anim-easing,
				transform $anim-speed-normal $anim-easing;
	opacity: 0;
}

// Header

.assign-label-header {
	display: flex;
	width: 100%;
	height: 4.1rem;
	padding: .1rem;
	padding-left: 1.2rem;
}

.assign-label-title {
	flex: 1;
	font-size: 1.3rem;
	font-weight: $font-weight-bold;
	letter-spacing: .01rem;
	line-height: 4rem;
}

.assign-label-close {
	padding-right: 1rem;
	padding-left: 1rem;
}

// List

.assign-label-list {
	max-height: 13.6rem; // 4 items = 4x 34px
	overflow-y: auto; // Make the list scrollable
}

.assign-label-item {
	width: 100%;
	border-top: .1rem solid $color-seashell;
}

.assign-label-button {
	position: relative;
	width: 100%;
	padding: 1rem 1.2rem 1rem 3.2rem;
	font-size: 1.3rem;
	text-align: left;
	transition: background-color $anim-speed-normal $anim-easing;

	&:hover,
	&:focus,
	&:active {
		background-color: $color-seashell;
	}

}

.assign-label-dot {
	position: absolute;
	top: 1.2rem;
	left: 1.2rem;
	width: .9rem;
	height: .9rem;
	border-radius: 50%;
}
