// SHARED COMPONENT: ASSIGN LABEL

.assign-label {
	display: block; // Correct positioning
	position: relative;
	z-index: 2; // To overlap upcoming content
}

// Dropdown

.assign-label__dropdown {
	position: absolute;
	top: 0;
	left: 0;
	width: 26rem; // Fixed width
	transform-origin: 0 0; // Top left
	transform: scale(.8);
	transition: opacity $anim-speed-normal $anim-easing,
				visibility $anim-speed-instant $anim-linear $anim-speed-normal,
				transform $anim-speed-normal $anim-easing;
	background-color: $color-white;
	box-shadow: 0 .1rem .3rem rgba($color-black, .3);
	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	&.is-visible {
		transform: scale(1);
		transition: opacity $anim-speed-normal $anim-easing,
					visibility $anim-speed-instant $anim-linear,
					transform $anim-speed-normal $anim-easing;
		opacity: 1;
		visibility: visible;

		.assign-label__dropdown-content {
			transform: translate3D(0,0,0);
			transition: opacity $anim-speed-normal $anim-easing $anim-speed-fast,
						transform $anim-speed-normal $anim-easing $anim-speed-fast;
			opacity: 1;
		}

	}

}

.assign-label__dropdown-content {
	transform: translate3D(0,-.8rem,0);
	transition: opacity $anim-speed-normal $anim-easing,
				transform $anim-speed-normal $anim-easing;
	opacity: 0;
}

.assign-label__dropdown-trigger { // Similar to label style
	position: relative;
	height: 2.2rem;
	padding-right: 1rem;
	padding-left: 2.2rem;
	border-radius: .1rem;
	background-color: transparent;
	border: .1rem solid $color-gray;
	font-size: 1.1rem;
	line-height: 2rem;
	text-transform: uppercase;
	vertical-align: top;
	opacity: .75;
	transition: background-color $anim-speed-normal $anim-easing,
				opacity $anim-speed-normal $anim-easing;

	&:hover,
	&:focus {
		background-color: $color-gallery;
		opacity: 1;
	}

	&:active {
		transform: scale(.92);
	}

	> .icon {
		position: absolute;
		top: .3rem;
		left: .4rem;
	}

}

// Header

.assign-label__dropdown-header {
	display: flex;
	width: 100%;
	height: 4rem;
	padding-left: 1.4rem;
	border-bottom: .1rem solid $color-gallery;
}

.assign-label__dropdown-header-title {
	flex: 1;
	font-size: 1.3rem;
	font-weight: bold;
	letter-spacing: .01rem;
	line-height: 4rem;
}

.assign-label__dropdown-header-action {
	padding-right: 1.2rem;
	padding-left: 1.2rem;
	opacity: .5;
	transition: opacity $anim-speed-normal $anim-easing;

	&:hover,
	&:focus {
		opacity: 1;
	}

	&:active {
		transform: scale(.8);
	}

}

// Content

.assign-label__dropdown-list {
	max-height: 13.5rem; // 4 items = 4x 3.4rem - 1x border
	overflow-y: auto; // Make the list scrollable (if necessary)
}

.assign-label__dropdown-item {
	width: 100%;

	+ .assign-label__dropdown-item {
		border-top: .1rem solid $color-gallery;
	}

}

.assign-label__dropdown-label {
	position: relative;
	width: 100%;
	padding: 1rem 1.2rem 1rem 3.5rem;
	font-size: 1.3rem;
	text-align: left;
	transition: background-color $anim-speed-normal $anim-easing;

	&:hover,
	&:focus,
	&:active {
		background-color: $color-gallery;
	}

	&:active {
		opacity: .66;
	}

	> .icon {
		position: absolute;
		top: 1rem;
		left: 1.3rem;
	}

}
