// SHARED COMPONENT: DIALOG

.dialog-confirm__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10; // To be sure that it's on top
	background-color: rgba($color-white, .75);
	opacity: 0;
	visibility: hidden;
	transition: opacity $anim-speed-normal $anim-easing,
				visibility $anim-speed-instant $anim-linear $anim-speed-normal;

	&.is-visible {
		opacity: 1;
		visibility: visible;
		transition: opacity $anim-speed-normal $anim-easing,
					visibility $anim-speed-instant $anim-linear;
	}

}

.dialog-confirm__box {
	position: fixed;
	top: calc(50% - 3rem); // Just looks nicer
	left: 50%;
	width: 50rem; // Fixed width
	z-index: 10; // To be sure that it's on top
	background-color: $color-white;
	box-shadow: 0 .1rem .5rem rgba($color-black, .2);
	transform-origin: 50% 33%;
	transform: translate3d(-50%,-50%,0) scale(.9);
	opacity: 0;
	visibility: hidden;
	transition: opacity $anim-speed-normal $anim-easing,
				transform $anim-speed-normal $anim-easing,
				visibility $anim-speed-instant $anim-linear $anim-speed-normal;
	will-change: transform, opacity;

	&.is-visible {
		transform: translate3d(-50%,-50%,0) scale(1);
		opacity: 1;
		visibility: visible;
		transition: opacity $anim-speed-normal $anim-easing,
					transform $anim-speed-normal $anim-easing,
					visibility $anim-speed-instant $anim-linear;
	}

	&.is-primary {
		border: .1rem solid rgba($color-tundora, .5);
	}

	&.is-danger {
		border: .1rem solid rgba($color-danger, .5);
	}

	&.is-success {
		border: .1rem solid rgba($color-success, .5);
	}

}

// Header

.dialog-confirm__box-header {
	position: relative;
	height: 5.1rem;
	width: 100%;
	padding-top: .1rem;
	padding-left: 2rem;
	padding-right: 7rem;
	line-height: 5.4rem;
	border-bottom: .1rem solid $color-gallery;
}

.dialog-confirm__box-header-title {
	font-size: 1.6rem;
}

.dialog-confirm__box-header-action {
	position: absolute;
	top: 0;
	right: .1rem;
	height: 5rem;
	width: 5rem;
	padding: 1.8rem;
	opacity: .5;
	transition: opacity $anim-speed-normal $anim-easing;

	&:hover,
	&:focus {
		opacity: 1;
	}

	&:active {
		transform: scale(.92);
	}

}

// Main

.dialog-confirm__box-main {
	width: 100%;
	padding: 2.4rem 2rem;
	line-height: 2.4rem;
}

// Footer

.dialog-confirm__box-footer {
	height: 6.1rem;
	padding: 1.5rem 2rem 1.6rem 2rem;
	width: 100%;
	border-top: .1rem solid $color-gallery;
	text-align: right;
}

.dialog-confirm__box-footer-action {
	display: inline-block;
	padding: .9rem 1.6rem .9rem 1.5rem;
	font-size: 1.3rem;
	opacity: 1;
	transition: opacity $anim-speed-normal $anim-easing;

	+ .dialog-confirm__box-footer-action {
		margin-left: .9rem;
	}

	&:hover,
	&:focus {
		opacity: .8;
	}

	&:active {
		transform: scale(.92);
	}

}
