// COMPONENTS: DROPDOWN

.dropdown-button {
	white-space: nowrap;
}

.dropdown-list {
	background-color: #CCC;
}

.dropdown-list-item {
	display: block;
	background-color: green;
}

.dropdown-list-link {
	display: block;
	background-color: blue;
}
