// SHARED COMPONENT: DROPDOWN

.dropdown__trigger {
	position: relative;
	width: 100%;
	padding-right: 5rem;
	padding-left: 2.8rem;
	transition: background-color $anim-speed-normal $anim-easing,
				color $anim-speed-normal $anim-easing;
	white-space: nowrap;
	z-index: 4;

	&:hover,
	&:active,
	&.is-active {
		transition: background-color $anim-speed-normal $anim-easing,
					color $anim-speed-normal $anim-easing;
		background-color: $color-white;
		color: $color-black;

		.icon > svg {
			fill: $color-tundora;
		}

	}

	.icon {
		position: absolute;
		top: 2rem;
		right: 2rem;
		transform: rotate(0);
		transition: transform $anim-speed-normal $anim-easing;

		> svg {
			transition: fill $anim-speed-normal $anim-easing;
		}

	}

	&.is-active > .icon {
		transform: rotate(180deg);
	}

}

// Content

.dropdown__list {
	position: absolute;
	width: 100%;
	min-width: 15rem;
	padding-top: .7rem;
	padding-bottom: .7rem;
	transform: translate3d(0, -.8rem, 0);
	transition: opacity $anim-speed-normal $anim-easing,
				transform $anim-speed-instant $anim-easing $anim-speed-normal,
				visibility $anim-speed-instant $anim-linear $anim-speed-normal;
	background-color: $color-white;
	color: $color-tundora;
	line-height: 1;
	box-shadow: 0 .1rem .3rem rgba($color-black, .2);
	opacity: 0;
	visibility: hidden;

	&.is-visible {
		transform: translate3d(0, 0, 0);
		transition: opacity $anim-speed-normal $anim-easing,
					transform $anim-speed-normal $anim-easing,
					visibility $anim-speed-instant $anim-linear;
		opacity: 1;
		visibility: visible;
	}

}

.dropdown__divider {
	margin-top: .7rem;
	margin-bottom: .7rem;
	border-bottom: .1rem solid $color-gallery;
}

.dropdown__link {
	position: relative;
	display: block;
	padding: 1.2rem 2.6rem 1.2rem 5.4rem;
	transition: background-color $anim-speed-normal $anim-easing;
	cursor: pointer; // Because a href does not exist

	&:hover {
		background-color: $color-gallery;
	}

	&:active {
		background-color: $color-alto;
		transition: none;
	}

	.icon {
		position: absolute;
		top: 1rem;
		left: 2.6rem;
	}

}
