// SHARED COMPONENT: EDITABLE INPUT

.input-editable {

	&:hover,
	&.is-edited {
		.input-editable__action {
			opacity: 1;
		}
		.form-label::before {
			transform: translate3D(0,0,0);
		}
	}

}

// Input field

.input-editable__input {
	padding-right: 6.4rem; // Due to the overlapping action buttons

	+ .form-label::before {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: .2rem;
		transform: translate3D(-100%,0,0);
		transition: transform $anim-speed-normal $anim-easing;
		background-color: $color-alto;
		content: "";
	}

}

// Actions

.input-editable__actions {
	position: absolute;
	top: 1.5rem;
	right: 0;
	z-index: 1;
	transition: opacity $anim-speed-normal $anim-easing;
	opacity: 0;
	visibility: hidden;
	transition: opacity $anim-speed-fast $anim-easing,
				visibility $anim-speed-instant $anim-linear $anim-speed-fast;

	&.is-visible {
		opacity: 1;
		visibility: visible;
		transition: opacity $anim-speed-fast $anim-easing $anim-speed-fast,
					visibility $anim-speed-instant $anim-linear $anim-speed-fast;
	}

}

.input-editable__action {
	display: inline-block;
	opacity: .5;
	transition: opacity $anim-speed-normal $anim-easing;
}

.input-editable__action-button {
	height: 3.5rem;
	padding-right: .7rem;
	padding-left: .7rem;
}
