// COMPONENTS: MAIN

.main {
	display: flex;
	padding-top: 6.4rem;
}

.main-bookmarks {
	width: calc(100% - 28rem);
	background-color: #CCC; // TODO - Remove me
}

.main-folders {
	width: 28rem;
	background-color: #FAFAFA; // TODO - Remove me
}
