<input class="form-input input-editable-input" [id]="name" [type]="type" [placeholder]="placeholder"
	[value]="value" [readonly]="!isInEditMode" #input>
<label class="form-label" [attr.for]="name">{{ label }}</label>

<ul class="input-editable-actions" [class.is-visible]="!isInEditMode">
	<li class="input-editable-action">
		<button class="button button-invisible input-editable-button" type="button" (click)="clickOnEdit( input )">
			<app-icon name="edit" size="14" color="#606060"></app-icon>
		</button>
	</li>
</ul>
<ul class="input-editable-actions" [class.is-visible]="isInEditMode">
	<li class="input-editable-action">
		<button class="button button-invisible input-editable-button" type="button" (click)="clickOnSave( input.value )">
			<app-icon name="done" size="18" color="#606060"></app-icon>
		</button>
	</li><li class="input-editable-action">
		<button class="button button-invisible input-editable-button" type="button" (click)="clickOnCancel( input )">
			<app-icon name="close" size="18" color="#606060"></app-icon>
		</button>
	</li>
</ul>
