// SETTINGS: BREAKPOINTS
// Inspired by the Google Material Styleguide
// (https://www.google.com/design/spec/layout/responsive-ui.html#responsive-ui-breakpoints)

// Breakpoint list for media queries
$breakpoints: (
	xmobile: 		480px,
	tablet: 		600px,
	xtablet: 		840px,
	desktop: 		960px,
	xdesktop: 		1280px,
	widescreen: 	1440px,
	xwidescreen: 	1600px
);
