// SETTINGS: COLORS

// Black 'n' white
$color-white: 	#FFF;
$color-black: 	#000;

// Shades of Grey (nope, don't even think about the book ...)
$color-gallery: #EFEFEF; // Brighter bright grey
$color-alto: #DADADA; // Darker bright grey
$color-gray: #909090; // Middle grey
$color-scorpion: #606060; // Brighter dark grey
$color-tundora: #444; // Darker dark grey

// Status colors
$color-danger: #E0343D;

// Brand color schema
$color-primary: #0F9D58;
