<app-header></app-header>

<main class="main">

	<div class="main-bookmarks">

		<h2 style="margin-top: 1.5rem; margin-bottom: 1.5rem;">Bookmarks</h2>

		<ul class="bookmark-list">
			<li class="bookmark-item" *ngFor="#bookmark of bookmarks">
				<a class="bookmark-link" [href]="bookmark.url" target="_blank">
					<div class="bookmark-icon"></div>
					<div class="bookmark-title">
					{{ bookmark.title }}
					<!-- <ul>
						<li *ngFor="#label of labels">
							{{ label.name }}
						</li>
					</ul> -->
					</div>
					<div class="bookmark-url">{{ bookmark.url }}</div>
				</a>
				<button class="button button-invisible" type="button">
					INFO
				</button>
			</li>
		</ul>

	</div>

</main>
