# Dependencies
node_modules
typings
Gemfile.lock

# Build folders
build

# Generated error logs
undefinederror.json
undefinedinfo.json
info.log.json
error.log.json

stars-web.sublime*

# Editor settings
*.sublime-workspace

