# Dependencies
node_modules
typings
Gemfile.lock

# Frontend build
index.html
build

# Docs
docs

# Generated error logs
undefinederror.json
undefinedinfo.json
info.log.json
error.log.json


# Editor settings
*.sublime-workspace
stars-web.sublime*

# Development files
*.todo
