# Dependencies
/node_modules
/typings

# Frontend build
/index.html
/build

# Documentation build
/docs

# Generated error logs (mostly by Node)
*.log
/undefinederror.json
/undefinedinfo.json
/info.log.json
/error.log.json
/npm-debug.log

# Editor settings
/*.sublime-workspace
/stars-web.sublime*

# Development files (in all folders)
*.todo
*.old
*.temp
