<!-- Overlay -->
<div class="bookmark-details__overlay" [class.is-visible]="isVisible" (click)="onClose()"></div>

<!-- Panel -->
<article class="bookmark-details__panel" [class.is-visible]="isVisible">

	<!-- Panel header -->
	<header class="bookmark-details__panel-header">
		<h1 class="bookmark-details__panel-header-title">Folder Details</h1>
		<app-move-into-folder
			class="bookmark-details__panel-header-action-move"
			[elementType]="'folder'"
			[elementId]="folder?.get( 'id' )"
			[currentPathId]="folder?.get( 'path' )"
			[folders]="allFolders"
			(select)="onMoveFolder( $event )">
			<app-icon name="folder_move" size="16" color="#FFF"></app-icon>
		</app-move-into-folder>
		<button class="button bookmark-details__panel-header-action does-delete has-tooltip" type="button" (click)="onDelete()" data-tooltip="delete">
			<app-icon name="delete" size="16" color="#FFF"></app-icon>
		</button>
		<button class="button bookmark-details__panel-header-action does-close has-tooltip" type="button" (click)="onClose()" data-tooltip="close">
			<app-icon name="close" size="20" color="#FFF"></app-icon>
		</button>
	</header>

	<!-- Panel content -->
	<form class="bookmark-details__panel-content">

		<!-- (important) folder information -->
		<fieldset class="form-fieldset">
			<ul>
				<li class="bookmark-details__panel-section">
					<app-input-editable [name]="'folder-name'" [label]="'Name'" [type]="'text'" [placeholder]="'My folder'"
						[value]="folder?.get( 'name' )" (update)="onUpdate( 'name', $event )">
					</app-input-editable>
				</li>
				<li class="bookmark-details__panel-section">
					<app-input-editable [name]="'folder-description'" [label]="'Description'" [type]="'text'" [placeholder]="'My folder description'"
						[value]="folder?.get( 'description' )" (update)="onUpdate( 'description', $event )">
					</app-input-editable>
				</li>
			</ul>
		</fieldset>

		<hr>

		<!-- Additional information (mostly timestamps) -->
		<fieldset class="form-fieldset">
			<ul>
				<li class="form-component bookmark-details__panel-section">
					<input class="form-input" id="folder-created" type="text" [value]="folder?.get( 'created' ) | date" readonly>
					<label class="form-label" for="folder-created">Created on</label>
				</li>
				<li class="form-component bookmark-details__panel-section" *ngIf="folder?.get( 'updated' )">
					<input class="form-input" id="folder-updated" type="text" [value]="folder?.get( 'updated' ) | date" readonly>
					<label class="form-label" for="folder-updated">Last updated on</label>
				</li>
			</ul>
		</fieldset>

	</form>

</article>
