<!-- List of existing labels -->
<ul *ngIf="labels.size > 0">
	<li *ngFor="let label of labels.toList()">
		<app-label-advanced
			[label]="label"
			[editable]="editedLabelId === null || editedLabelId === label.get( 'id' )"
			[creatable]="false"
			(changeEditMode)="onChangeEditMode( label.get( 'id' ), $event )"
			(update)="onLabelUpdate( label.get( 'id' ), $event )"
			(delete)="onLabelDelete( label.get( 'id' ) )">
		</app-label-advanced>
	</li>
</ul>

<!-- Empty label list message -->
<div class="label-list__empty" *ngIf="labels.size === 0">
	<app-icon name="label" size="48" color="#CCC"></app-icon>
	<p><strong>No labels yet.</strong></p>
	<p>Continue by creating a brand new label.</p>
</div>

<hr class="label-list__divider">

<!-- Create a new label -->
<app-label-advanced
	[label]="labelTemplate"
	[editable]="editedLabelId === null || editedLabelId === -1"
	[creatable]="true"
	(changeEditMode)="onChangeEditMode( -1, $event )"
	(update)="onLabelCreate( $event )">
</app-label-advanced>
