<ul>
	<li class="directory-item" *ngFor="#subfolder of subfolders">
		<a class="directory-link" [class.is-final]="subfolder.get( 'id' ) === openedFolder" (click)="goToFolder( subfolder.get( 'id' ) )">
			<app-icon name="folder" size="24" color="#777" *ngIf="subfolder.get( 'id' ) !== openedFolder"></app-icon>
			<app-icon name="folder_open" size="24" color="#777" *ngIf="subfolder.get( 'id' ) === openedFolder"></app-icon>
			<span class="directory-name">{{ subfolder.get( 'name' ) }}</span>
		</a>
		<app-bookmark-directory
			[folders]="folders"
			[parentFolder]="subfolder.get( 'id' )"
			[openedFolder]="openedFolder"
			(select)="goToFolder( $event )">
		</app-bookmark-directory>
	</li>
</ul>
