<!-- Overlay -->
<div class="bookmark-details__overlay" [class.is-visible]="isVisible" (click)="onClose()"></div>

<!-- Panel -->
<article class="bookmark-details__panel" [class.is-visible]="isVisible">

	<!-- Panel header -->
	<header class="bookmark-details__panel-header">
		<h1 class="bookmark-details__panel-header-title">Bookmark Details</h1>
		<a class="button bookmark-details__panel-header-action does-open has-tooltip"
			[href]="bookmark?.get( 'url' )" target="_blank" rel="noreferrer noopener" data-tooltip="visit">
			<app-icon name="launch" size="16" color="#FFF"></app-icon>
		</a>
		<app-move-into-folder
			class="bookmark-details__panel-header-action-move"
			[elementType]="'bookmark'"
			[elementId]="bookmark?.get( 'id' )"
			[currentPathId]="bookmark?.get( 'path' )"
			[folders]="folders"
			(select)="onMoveBookmark( $event )">
			<app-icon name="folder_move" size="16" color="#FFF"></app-icon>
		</app-move-into-folder>
		<button class="button bookmark-details__panel-header-action does-delete has-tooltip" type="button" (click)="onDelete()" data-tooltip="delete">
			<app-icon name="delete" size="16" color="#FFF"></app-icon>
		</button>
		<button class="button bookmark-details__panel-header-action does-close has-tooltip" type="button" (click)="onClose()" data-tooltip="close">
			<app-icon name="close" size="20" color="#FFF"></app-icon>
		</button>
	</header>

	<!-- Panel content -->
	<form class="bookmark-details__panel-content">

		<!-- (important) bookmark information -->
		<fieldset class="form-fieldset">
			<ul>
				<li class="bookmark-details__panel-section">
					<app-input-editable [name]="'bookmark-title'" [label]="'Title'" [type]="'text'" [placeholder]="'My bookmark'"
						[value]="bookmark?.get( 'title' )" (update)="onUpdate( 'title', $event )">
					</app-input-editable>
				</li>
				<li class="bookmark-details__panel-section">
					<app-input-editable [name]="'bookmark-url'" [label]="'Url'" [type]="'url'" [placeholder]="'https://www.example.com'"
						[value]="bookmark?.get( 'url' )" (update)="onUpdate( 'url', $event )">
					</app-input-editable>
				</li>
				<li class="bookmark-details__panel-section">
					<app-input-editable [name]="'bookmark-description'" [label]="'Description'" [type]="'text'" [placeholder]="'My bookmark description'"
						[value]="bookmark?.get( 'description' )" (update)="onUpdate( 'description', $event )">
					</app-input-editable>
				</li>
			</ul>
		</fieldset>

		<hr>

		<!-- Assigned labels -->
		<fieldset class="form-fieldset">
			<p class="bookmark-details__panel-label-title">Labels</p>
			<ul class="bookmark-details__panel-section">
				<li class="bookmark-details__panel-label" *ngFor="let labelId of bookmark?.get( 'labels' )">
					<app-label-simple [label]="allLabels?.get( labelId )" [isRemovable]="true" (remove)="unassignLabel( labelId )">
					</app-label-simple>
				</li>
				<li class="bookmark-details__panel-label-assign">
					<app-assign-label
						*ngIf="unassignedLabels.size > 0"
						[labels]="unassignedLabels"
						(select)="assignLabel( $event )">
						<app-icon name="add" size="14" color="#444"></app-icon>Label
					</app-assign-label>
				</li>
			</ul>
		</fieldset>

		<hr>

		<!-- Additional information (mostly timestamps) -->
		<fieldset class="form-fieldset">
			<ul>
				<li class="form-component bookmark-details__panel-section">
					<input class="form-input" id="bookmark-created" type="text" [value]="bookmark?.get( 'created' )" readonly>
					<label class="form-label" for="bookmark-created">Created on</label>
				</li>
				<li class="form-component bookmark-details__panel-section" *ngIf="bookmark?.get( 'updated' )">
					<input class="form-input" id="bookmark-updated" type="text" [value]="bookmark?.get( 'updated' )" readonly>
					<label class="form-label" for="bookmark-updated">Last updated on</label>
				</li>
			</ul>
		</fieldset>

	</form>

</article>
