<div class="bookmark-details-overlay" [class.is-visible]="isVisible" (click)="closeDetails()"></div>
<div class="bookmark-details-panel" [class.is-visible]="isVisible">

	<header class="bookmark-details-header">
		<h3 class="bookmark-details-title">Bookmark Details</h3>
		<button class="button button-invisible bookmark-details-button" type="button" (click)="closeDetails()">
			<app-icon name="close" size="20" color="#FFF"></app-icon>
		</button>
	</header>

	<form class="bookmark-details-content">

		<!-- (important) bookmark information -->
		<fieldset class="form-fieldset">
			<ul>
				<li class="bookmark-details-section">
					<app-input-editable [name]="'bookmark-title'" [label]="'Title'" [type]="'text'" [placeholder]="'My bookmark'"
						[value]="bookmark?.get( 'title' )" (update)="updateBookmark( 'title', $event )">
					</app-input-editable>
				</li>
				<li class="bookmark-details-section">
					<app-input-editable [name]="'bookmark-url'" [label]="'Url'" [type]="'url'" [placeholder]="'https://www.example.com'"
						[value]="bookmark?.get( 'url' )" (update)="updateBookmark( 'url', $event )">
					</app-input-editable>
				</li>
				<li class="bookmark-details-section">
					<app-input-editable [name]="'bookmark-description'" [label]="'Description'" [type]="'text'" [placeholder]="'My bookmark description'"
						[value]="bookmark?.get( 'description' )" (update)="updateBookmark( 'description', $event )">
					</app-input-editable>
				</li>
			</ul>
		</fieldset>

		<hr>

		<!-- Assigned labels -->
		<fieldset class="form-fieldset">
			<p class="bookmark-details-label-title">Labels</p>
			<ul class="bookmark-details-section">
				<li class="bookmark-details-label" *ngFor="let labelId of bookmark?.get( 'labels' )">
					<app-label [label]="allLabels?.get( labelId )" [isRemovable]="true" (clickOnRemove)="unassignLabelFromBookmark( labelId )">
					</app-label>
				</li>
				<li class="bookmark-details-label-assign">
					<app-assign-label
						*ngIf="unassignedLabels.size > 0"
						[labels]="unassignedLabels"
						(select)="assignLabelToBookmark( $event )">
					</app-assign-label>
				</li>
			</ul>
		</fieldset>

		<hr>

		<!-- Additional information (mostly timestamps) -->
		<fieldset class="form-fieldset">
			<ul>
				<li class="form-component bookmark-details-section">
					<input class="form-input" id="bookmark-created" type="text" [value]="bookmark?.get( 'created' )" readonly>
					<label class="form-label" for="bookmark-created">Created on</label>
				</li>
				<li class="form-component bookmark-details-section">
					<input class="form-input" id="bookmark-updated" type="text" [value]="bookmark?.get( 'updated' )" readonly>
					<label class="form-label" for="bookmark-updated">Last updated on</label>
				</li>
				<li class="form-component bookmark-details-section" *ngIf="bookmark?.get( 'archived' )">
					<input class="form-input" id="bookmark-archived" type="text" [value]="bookmark?.get( 'archived' )" readonly>
					<label class="form-label" for="bookmark-archived">Archived on</label>
				</li>
			</ul>
		</fieldset>

	</form>

</div>
