<!-- Background overlay / backdrop -->
<div class="dialog-confirm__overlay" [class.is-visible]="isOpen" (click)="onClickNo()"></div>

<!-- Dialog -->
<article class="dialog-confirm__box is-{{ type }}" [class.is-visible]="isOpen">

	<!-- Dialog header -->
	<header class="dialog-confirm__box-header">
		<h1>{{ title }}</h1>
		<button class="button button-invisible dialog-confirm__box-header-action" type="button"
			(click)="onClickNo()">
			<app-icon name="close" size="18" color="#606060"></app-icon>
		</button>
	</header>

	<!-- Dialog content -->
	<p class="dialog-confirm__box-main">
		{{ message }}
	</p>

	<!-- Dialog footer -->
	<footer class="dialog-confirm__box-footer">
		<button class="button button-secondary dialog-confirm__box-footer-action does-no" type="button"
			(click)="onClickNo()">
			{{ noText }}
		</button><button class="button button-{{ type }} dialog-confirm__box-footer-action does-yes" type="button"
			(click)="onClickYes()">
			{{ yesText }}
		</button>
	</footer>

</article>
