<button class="button button-invisible label label-name" type="button" (click)="isOpen = !isOpen">
	<ng-content></ng-content>
</button>

<div class="assign-label-dropdown" *ngIf="isOpen">
	<ul>
		<li class="assign-label-item" *ngFor="#label of labels">
			<button class="button button-invisible assign-label-button" type="button" (click)="selectLabel( label[ 1 ].get( 'id' ) )">
				<div class="assign-label-dot" [style.backgroundColor]="label[ 1 ].get( 'color' )"></div> {{ label[ 1 ].get( 'name' ) }}
			</button>
		</li>
	</ul>
</div>
