<button class="button button-invisible" type="button">
	Add new label
</button>

<div class="assign-dropdown">
	<p class="assign-dropdown-title">Assign new label</p>
	<input class="assign-dropdown-input" type="search" placeholder="Search ...">
	<ul class="assign-dropdown-list">
		<li class="assign-dropdown-item" *ngFor="#item of items">
			<button class="button button-invisible assign-dropdown-button" type="button" (click)="selectItem( item[ 1 ].get( 'id' ) )">
				<div class="assign-dropdown-dot" [style.backgroundColor]="item[ 1 ].get( 'color' )"></div> {{ item[ 1 ].get( 'name' ) }}
			</button>
		</li>
	</ul>
</div>
