<div class="bookmark-details-overlay" [class.is-visible]="visible" (click)="closePanel()"></div>
<div class="bookmark-details" [class.is-visible]="visible">
	<div class="bookmark-details-header">
		<h3 class="bookmark-details-title">Details</h3>
		<!-- <button class="button button-invisible bookmark-details-button" type="button">
			<app-icon name="delete" size="20" color="#FFF"></app-icon>
		</button> -->
		<button class="button button-invisible bookmark-details-button" type="button" (click)="closePanel()">
			<app-icon name="close" size="20" color="#FFF"></app-icon>
		</button>
	</div>

	<div class="bookmark-details-content" *ngIf="element?.get( 'type' ) === 'bookmark'">

		<app-assign-dropdown [items]="unassignedLabels" *ngIf="unassignedLabels.length > 0"
			(select)="assignLabelToElement( element, data?.get( 'labels' ), $event )">
		</app-assign-dropdown>

		<hr>

		<form>

			<ul>
				<li class="bookmark-details-data">
					<app-input-editable [name]="'bookmark-title'" [label]="'Title'" [type]="'text'" [placeholder]="'My bookmark'"
						[value]="data?.get( 'title' )" (update)="updateElement( element, 'title', $event )">
					</app-input-editable>
				</li>
				<li class="bookmark-details-data">
					<app-input-editable [name]="'bookmark-url'" [label]="'Url'" [type]="'url'" [placeholder]="'https://www.example.com'"
						[value]="data?.get( 'url' )" (update)="updateElement( element, 'url', $event )">
					</app-input-editable>
				</li>
				<li class="bookmark-details-data">
					<app-input-editable [name]="'bookmark-description'" [label]="'Description'" [type]="'text'" [placeholder]="'My bookmark description'"
						[value]="data?.get( 'description' )" (update)="updateElement( element, 'description', $event )">
					</app-input-editable>
				</li>
			</ul>

			<hr>

			<p style="margin: 3rem 2.5rem 1rem; font-size: 1.2rem; color: #999; font-weight: 500; letter-spacing: .01rem">Labels</p>
			<ul class="bookmark-details-data">

				<li class="bookmark-item-label" *ngFor="#labelId of data?.get( 'labels' )"
					[style.backgroundColor]="labels.get( labelId )?.get( 'color' )">
					{{ labels.get( labelId )?.get( 'name' ) }}
					<button class="button button-invisible" type="button"> x</button>
				</li><li class="bookmark-item-label" style="background-color: #DDD; color: #444;">
					+
				</li>

			</ul>

		</form>

		<hr>

		<!-- Additional information -->
		<ul>

			<li class="form-component bookmark-details-data">
				<input class="form-input" id="bookmark-created" type="text" [value]="data?.get( 'created' )" readonly>
				<label class="form-label" for="bookmark-created">Created on</label>
			</li>
			<li class="form-component bookmark-details-data">
				<input class="form-input" id="bookmark-updated" type="text" [value]="data?.get( 'updated' )" readonly>
				<label class="form-label" for="bookmark-updated">Last updated on</label>
			</li>
			<li class="form-component bookmark-details-data" *ngIf="data?.get( 'archived' )">
				<input class="form-input" id="bookmark-archived" type="text" [value]="data?.get( 'archived' )" readonly>
				<label class="form-label" for="bookmark-archived">Archived on</label>
			</li>

		</ul>

	</div>

	<div *ngIf="element?.get( 'type' ) === 'folder'">
		<p>Folder details:</p>
		{{ data | json }}
	</div>
</div>
