<button class="button button-invisible label-simple label-simple-name" type="button" (click)="toggleDropdown()">
	ADD LABEL
</button>

<div class="assign-label-dropdown" [class.is-visible]="isOpen">
	<div class="assign-label-content">
		<header class="assign-label-header">
			<p class="assign-label-title">Assign new label</p>
			<button class="button button-invisible assign-label-close" type="button" (click)="closeDropdown()">
				<app-icon name="close" size="16" color="#333"></app-icon>
			</button>
		</header>
		<ul class="assign-label-list">
			<li class="assign-label-item" *ngFor="let label of labels.toList()">
				<button class="button button-invisible assign-label-button" type="button" (click)="onSelectLabel( label.get( 'id' ) )">
					<app-icon class="assign-label-icon" name="label" size="14" [color]="label.get( 'color' )"></app-icon>
					{{ label.get( 'name' ) }}
				</button>
			</li>
		</ul>
	</div>
</div>
