<header class="header">

	<a class="header-product" href="/">
		<div class="header-product-logo"></div>
		<h1 class="header-product-name">{{ app }}</h1>
	</a>

	<form class="header-search search" [ngFormModel]="searchForm" (ngSubmit)="submitSearch()">
		<input class="search-input" type="search" placeholder="Search and filter ..." [ngFormControl]="searchForm.find( 'search' )" (blur)="reset()">
		<app-icon class="search-icon" name="search" color="#CCC" size="24"></app-icon>
		<button class="button button-invisible search-button-clear" type="button" (click)="reset()">
			<app-icon name="close" color="#CCC" size="20"></app-icon>
		</button>
	</form>

	<app-dropdown [items]="dropdownItems" (select)="log( $event )">
		{{ name }}
	</app-dropdown>

</header>
