<header class="header">

	<!-- Product -->
	<a class="header__product" href="/">
		<div class="header__product-logo"></div>
		<h1 class="header__product-name">{{ app }}</h1>
	</a>

	<!-- Search -->
	<form class="header__search search" [ngFormModel]="searchForm">
		<input class="search-input" type="search" placeholder="Search ..." [ngFormControl]="searchForm.controls[ 'text' ]">
		<app-icon class="search-icon" name="search" color="#FFF" size="24"></app-icon>
		<button class="button search-button-clear" type="button" (click)="onResetSearch()">
			<app-icon name="close" color="#FFF" size="20"></app-icon>
		</button>
	</form>

	<!-- User menu -->
	<app-dropdown [items]="dropdownItems" (select)="log( $event )">
		{{ name }}
	</app-dropdown>

</header>
