<!-- Triggering button -->
<button class="button button-secondary create-bookmark__dropdown-trigger" type="button"
	(click)="openDropdown( nameInput )" #trigger>
	<app-icon name="add" size="20" color="#444"></app-icon>
	Folder
</button>

<!-- Dropdown menu -->
<div class="create-bookmark__dropdown" [class.is-visible]="isOpen"
	(clickOutside)="closeDropdownOnBlur( $event, trigger, nameInput )">
	<article class="create-bookmark__dropdown-content">

		<!-- Dropdown header -->
		<header class="create-bookmark__dropdown-header">
			<h1 class="create-bookmark__dropdown-header-title">Create new folder</h1>
			<button class="button create-bookmark__dropdown-header-action" type="button"
				(click)="closeDropdown( nameInput )">
				<app-icon name="close" size="16" color="#444"></app-icon>
			</button>
		</header>

		<!-- Dropdown content -->
		<ul class="create-bookmark__dropdown-main">
			<li class="form-component create-bookmark__dropdown-main-section">
				<input class="form-input" id="create-folder-title" type="text" placeholder="My folder"
					[value]="template?.get( 'name' )" #nameInput>
				<label class="form-label" for="create-folder-title">Name</label>
			</li>
		</ul>

		<!-- Dropdown footer -->
		<footer class="create-bookmark__dropdown-footer">
			<button class="button button-success create-bookmark__dropdown-footer-action does-create" type="button"
				(click)="onClickOnCreate( nameInput )">
				Create
			</button><button class="button button-secondary create-bookmark__dropdown-footer-action does-cancel" type="button"
				(click)="closeDropdown( nameInput )">
				Cancel
			</button>
		</footer>

	</article>
</div>
