<a class="bookmark-link" [href]="bookmark.get( 'url' )" target="_blank" rel="noreferrer noopener">
	<img class="bookmark-icon" src="https://icons.better-idea.org/icon?url={{ bookmark.get( 'url' ) }}&size=24">
	<div class="bookmark-content">
		<p class="bookmark-title">{{ bookmark.get( 'title' ) }}</p>
		<ul class="bookmark-labels">
			<li class="bookmark-label" *ngFor="let labelId of bookmark.get( 'labels' )">
				<app-label-simple [label]="labels.get( labelId )" [isRemovable]="false">
				</app-label-simple>
			</li>
		</ul>
	</div>
	<p class="bookmark-url" [innerHTML]="bookmark.get( 'url' ) | formatUrl"></p>
</a>

<button class="button button-invisible bookmark-button" type="button"
	(click)="onClickOnDetails( bookmark.get( 'id' ) )">
	<app-icon name="info" size="20" color="#606060"></app-icon>
</button>
