<app-header></app-header>

<main class="main">

	<div class="main-folders">

		<h2 style="margin-top: 3rem; margin-bottom: 2.8rem;">Folders</h2>

		<a (click)="goToFolder( '' )">
			>> Bookmarks
		</a>
		<app-bookmark-directory
			[directories]="folders"
			[activePath]="activePath"
			(select)="goToFolder( $event )">
		</app-bookmark-directory>

	</div>

	<div class="main-bookmarks">

		<h2 style="margin-top: 3rem; margin-bottom: 2.8rem;">Bookmarks</h2>

		<app-bookmark-router-outlet (pathChange)="updateCurrentPath( $event )">
		</app-bookmark-router-outlet>

	</div>

</main>
