<ul>
	<li class="folder-item" *ngFor="#folder of folders">
		<a class="folder-link" (click)="goToFolder( folder.path )">
			<div class="folder-icon"></div>
			<div class="folder-title">{{ folder.path }}</div>
		</a>
	</li>
	<li class="bookmark-item" *ngFor="#bookmark of bookmarks">
		<a class="bookmark-link" [href]="bookmark.url" target="_blank">
			<div class="bookmark-icon"></div>
			<div class="bookmark-title">{{ bookmark.title }}</div>
			<div class="bookmark-url">{{ bookmark.url }}</div>
		</a>
		<button class="button button-invisible" type="button">
			details
		</button>
	</li>
</ul>
