// VIEW COMPONENT: BOOKMARKS

.bookmarks {
	position: fixed;
	top: 6.4rem;
	left: 0;
	width: 100%;
	height: calc(100% - 6.4rem);
}

// Basic layout containers

.bookmarks-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 7.2rem;
	border-bottom: .1rem solid $color-alto;
}

.bookmarks-sidebar {
	position: absolute;
	top: 7.2rem;
	left: 0;
	width: 35rem;
	height: calc(100% - 7.2rem);
	background-color: $color-gallery;
	overflow: hidden; // Don't allow scrolling produced by animations
}

.bookmarks-main {
	position: absolute;
	top: 7.2rem;
	right: 0;
	width: calc(100% - 35rem);
	height: calc(100% - 7.2rem);
	background-color: $color-white;
	border-left: .1rem solid $color-alto;
	overflow-y: auto;
}

// Header

.bookmarks-header-sidebar {
	position: relative;
	display: inline-block;
	width: 35rem;
	height: 100%;
	vertical-align: top;
	background-color: $color-gallery;
	overflow: hidden;

	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 50%;
		height: .2rem;
		background-color: $color-primary;
		content: '';
		transition: transform $anim-speed-normal $anim-easing;
	}

	&.is-active-first::after {
		transform: translateX(0);
	}

	&.is-active-second::after {
		transform: translateX(100%);
	}

}

.bookmarks-header-button {
	position: relative;
	display: inline-block;
	width: 50%;
	padding-top: 2.1rem;
	padding-bottom: .2rem;
	line-height: 4.8rem;
	overflow: hidden;

	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: .2rem;
		background-color: $color-primary;
		content: '';
		transition: transform $anim-speed-normal $anim-easing;
	}

	&.is-first::after {
		transform: translateX(100%);
	}

	&.is-second::after {
		transform: translateX(-100%);
	}

	&:hover,
	&:focus {

		&::after {
			transform: translateX(0);
		}

	}

	&.is-active {
		font-weight: bold;
	}
}

.bookmarks-header-main {
	display: inline-block;
	width: calc(100% - 35rem);
	height: 100%;
	padding-top: 1.9rem;
	padding-bottom: .4rem;
	padding-left: 3.1rem;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 4.8rem;
	border-left: .1rem solid $color-alto;
	background-color: #FAFAFA; // TODO: Change?
	vertical-align: top;
}

// Sidebar

.bookmarks-sidebar-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 1.8rem;
	padding-bottom: 1.8rem;
	transition: opacity $anim-speed-normal $anim-easing,
				visibility $anim-speed-instant $anim-linear $anim-speed-normal,
				transform $anim-speed-normal $anim-easing;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;

	&.is-active {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
		transition: opacity $anim-speed-normal $anim-easing,
					visibility $anim-speed-instant $anim-linear,
					transform $anim-speed-normal $anim-easing;
	}

}

.bookmarks-sidebar-directory {
	padding-left: 2.5rem;
	transform: translateX(-100%);
}

.bookmarks-sidebar-labels {
	display: block;
	transform: translateX(100%);
}
