// VIEW COMPONENT: BOOKMARK & FOLDER DETAILS

.bookmark-details__overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
	background-color: rgba($color-white, .75);
	opacity: 0;
	visibility: hidden;
	transition: opacity $anim-speed-normal $anim-easing,
				visibility $anim-speed-instant linear $anim-speed-normal;

	&.is-visible {
		opacity: 1;
		visibility: visible;
		transition: opacity $anim-speed-normal $anim-easing,
					visibility $anim-speed-instant linear;
	}

}

.bookmark-details__panel {
	position: fixed;
	top: 6.4rem; // Header bar height
	right: 0;
	z-index: 2;
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100% - 6.4rem);
	width: 50rem; // Fixed width
	background-color: $color-white;
	box-shadow: 0 .1rem .5rem rgba($color-black, .2);
	transform: translate3D(100%,0,0);
	visibility: hidden;
	transition: transform $anim-speed-normal $anim-easing,
				visibility $anim-speed-instant linear $anim-speed-normal;
	will-change: transform, visibility; // Does it work? Who knows ...

	&.is-visible {
		visibility: visible;
		transform: translate3D(0,0,0);
		transition: transform $anim-speed-normal $anim-easing,
					visibility $anim-speed-instant linear;
	}

}

// Header

.bookmark-details__panel-header {
	display: flex;
	width: 100%;
	padding-right: 1.3rem;
	padding-left: 2.5rem;
	padding-top: .2rem;
	height: 6rem;
	background-color: $color-tundora;
	color: $color-white;
}

.bookmark-details__panel-header-title {
	flex: 1;
	font-size: 1.6rem;
	font-weight: normal;
	letter-spacing: .02rem;
	line-height: 5.8rem;
}

.bookmark-details__panel-header-action {
	opacity: 1;
	transition: opacity $anim-speed-fast $anim-easing;

	&:hover,
	&:focus {
		opacity: .8;
	}

	&:active {
		transform: scale(.75);
	}

	&.does-delete,
	&.does-open {
		padding: 2.2rem 1.4rem;
	}

	&.does-close {
		padding: 2rem 1.1rem;
	}

}

// Content

.bookmark-details__panel-content {
	padding-top: 3rem;
	padding-bottom: 1.6rem;
}

.bookmark-details__panel-section {
	margin-right: 2.5rem;
	margin-left: 2.5rem;

	+ .bookmark-details__panel-section {
		margin-top: 3.2rem;
	}

}

// Special content: Labels

.bookmark-details__panel-label {
	display: inline-block;
	margin-right: .4rem;
}

.bookmark-details__panel-label-title { // Similar to form label
	color: $color-gray;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.4rem;
	margin-bottom: 1rem;
	margin-left: 2.5rem;
	letter-spacing: .01rem; // Because of the small text
}

.bookmark-details__panel-label-assign {
	margin-top: .5rem;
}
