// VIEW COMPONENT: LOGIN

.login { // The whole page
	position: relative;
	display: block;
	width: 100%;
	height: 100%;

	// Stars background image, compressed version
	// Thanks to Adrian Pelletier on unsplash.com
	// URL: https://unsplash.com/photos/BeIvjuz6k2k
	background: url('./assets/login_background.jpg') center center;
	background-size: cover;

	&::after { // Colored semi-transparent overlay
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: darken($color-primary, 10%); // Slightly darker than normal
		opacity: .8;
		content: "";
	}

}

.login__box {
	position: relative;
	top: 50%;
	left: 50%;
	width: 31rem; // Fixed width
	z-index: 1; // Above the colored overlay
	padding-bottom: 7rem; // Slighly shifted to the top
	transform: translate3D(-50%,-50%,0);
}

// Login: Product

.login__box-logo {
	display: block;
	width: 6.4rem;
	height: 6.4rem;
	margin-left: calc(50% - 3.2rem);
	margin-right: calc(50% - 3.2rem);
}

.login__box-name {
	margin-top: 1rem;
	margin-bottom: 4.6rem;
	font-size: 2.4rem;
	color: $color-white;
	letter-spacing: .02rem;
	text-align: center;
}

// Login: User

.login__box-user-input {
	margin-bottom: 1rem;
	padding: 1.5rem 1.8rem 1.4rem;
	background-color: $color-white;
	border-radius: .2rem;
	line-height: 1.6rem;
}

.login__box-user-button {
	width: 100%;
	padding-top: 1.5rem;
	padding-bottom: 1.4rem;
	border-radius: .2rem;
	font-size: 1.3rem;
	line-height: 1.5rem;
	// text-transform: uppercase;
	letter-spacing: .02rem;
}
