// BASE: SITE

html {
	max-width: 100%;
	height: 100%;
	font-size: 62.5%; // Make rems work similar to px (e.g. 10px = 1rem)
}

body {
	position: fixed;
	font-size: 1.4rem;
	width: 100%;
	height: 100%;
	background-color: $color-gallery;
	color: $color-tundora;
	font-family: "Roboto", "Open Sans", "Tahoma", "Trebuchet MS", "Helvetica", "Arial", sans-serif;
	line-height: 1;
	overflow: hidden; // Don't allow scrolling (like ever!)
}
