<article class="login__box">

	<!-- Product info -->
	<app-icon class="login__box-logo" name="star" size="64" color="#F1C40F"></app-icon>
	<h1 class="login__box-name">{{ appName }}</h1>

	<!-- User login form -->
	<form [ngFormModel]="loginForm" (ngSubmit)="onSubmit()">
		<input class="login__box-user-input login__box-user-email" id="login-email" type="email" placeholder="your e-mail"
			[ngFormControl]="loginForm.controls[ 'email' ]">
		<input class="login__box-user-input login__box-user-password" id="login-password" type="password" placeholder="your password"
			[ngFormControl]="loginForm.controls[ 'password' ]">
		<button class="button button-success login__box-user-button" type="submit">Login</button>
	</form>

</article>
