<!-- Bookmark list: Header -->
<header class="bookmark-list__header">

	<!-- Current folder name - TODO: Maybe the whole path? -->
	<h2 class="bookmark-list__header-title">{{ openedFolderName }}</h2>

	<!-- Actions-->
	<app-create-folder
		class="bookmark-list__header-action"
		[template]="folderTemplate"
		(create)="onCreateFolder( $event )">
	</app-create-folder>
	<app-create-bookmark
		class="bookmark-list__header-action"
		[template]="bookmarkTemplate"
		(create)="onCreateBookmark( $event )">
	</app-create-bookmark>

</header>

<!-- Bookmark list: Content -->
<ul class="bookmark-list__list" *ngIf="folders.size > 0 || bookmarks.size > 0">

	<!-- Folders first -->
	<li class="bookmark-list__item" *ngFor="let folder of folders">
		<app-folder [folder]="folder" (select)="navigateToFolder( $event )" (clickOnDetails)="onClickOnDetails( 'folder', $event )"
			[class.is-selected]="selectedElement.type === 'folder' && selectedElement.id === folder.get( 'id' )">
		</app-folder>
	</li>

	<!-- Then bookmarks -->
	<li class="bookmark-list__item" *ngFor="let bookmark of bookmarks">
		<app-bookmark [bookmark]="bookmark" [labels]="labels" (clickOnDetails)="onClickOnDetails( 'bookmark', $event )"
			[class.is-selected]="selectedElement.type === 'bookmark' && selectedElement.id === bookmark.get( 'id' )">
		</app-bookmark>
	</li>

</ul>

<!-- Bookmark list: Empty folder message -->
<div class="bookmark-list__empty" *ngIf="folders.size === 0 && bookmarks.size === 0">
	<app-icon name="folder" size="96" color="#CCC"></app-icon>
	<p><strong>This folder is empty.</strong></p>
	<p>Continue by adding bookmarks or folders.</p>
</div>

<!-- Details panel route -->
<router-outlet></router-outlet>
