<!-- Overlay -->
<p class="label-advanced__overlay" [class.is-visible]="creatable && !isInEditMode" (click)="clickOnEdit( nameInput )">
	Create new label
</p>



<!-- Colorized label icon -->
<app-icon class="label-advanced__icon" name="label" size="18" [color]="label.get( 'color' )"
	[class.is-visible]="!isInEditMode" *ngIf="!creatable">
</app-icon>

<!-- Add icon -->
<app-icon class="label-advanced__icon" name="add" size="18" color="#606060"
	[class.is-visible]="true" *ngIf="creatable">
</app-icon>

<!-- Color picker -->
<app-color-picker
	class="label-advanced__icon" [class.is-visible]="isInEditMode" *ngIf="editable"
	[colorPresets]="labelColorPresets" [selectedColor]="labelColorPreview" [allowCustomColor]="true"
	(update)="onColorUpdate( $event )">
	<app-icon name="color_lens" size="18" [color]="labelColorPreview"></app-icon>
</app-color-picker>



<!-- Label name -->
<input class="form-input label-advanced__input" type="text" placeholder="my label"
	[readonly]="!isInEditMode" [value]="label.get( 'name' )" [class.is-visible]="!creatable || ( creatable && isInEditMode )" #nameInput>



<!-- Actions: Not in edit mode -->
<ul class="label-advanced__actions" [class.is-visible]="!isInEditMode" *ngIf="editable && !creatable">
	<li class="label-advanced__action">
		<button class="button label-advanced__action-button" type="button" (click)="clickOnEdit( nameInput )">
			<app-icon name="edit" size="16" color="#888"></app-icon>
		</button>
	</li><li class="label-advanced__action">
		<button class="button label-advanced__action-button" type="button" (click)="clickOnDelete()">
			<app-icon name="delete" size="16" color="#888"></app-icon>
		</button>
	</li>
</ul>

<!-- Actions: In edit mode -->
<ul class="label-advanced__actions" [class.is-visible]="isInEditMode" *ngIf="editable">
	<li class="label-advanced__action">
		<button class="button label-advanced__action-button" type="button" (click)="clickOnSave( nameInput )">
			<app-icon name="done" size="16" color="#888"></app-icon>
		</button>
	</li><li class="label-advanced__action">
		<button class="button label-advanced__action-button" type="button" (click)="clickOnCancel( nameInput )">
			<app-icon name="close" size="16" color="#888"></app-icon>
		</button>
	</li>
</ul>
