// COMPONENT: BOOKMARKS DETAIL

.bookmark-details-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: $color-white;
	opacity: 0;
	visibility: hidden;
	transition: opacity $anim-speed-normal $anim-easing,
				visibility 0s linear $anim-speed-normal;

	&.is-visible {
		opacity: .75;
		visibility: visible;
		transition: opacity $anim-speed-normal $anim-easing,
					visibility 0s linear;
	}

}

.bookmark-details-panel {
	position: fixed;
	top: 6.4rem;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100% - 6.4rem);
	width: 50rem; // TODO: flexible
	background-color: $color-white;
	box-shadow: 0 .1rem .5rem rgba($color-black, .15);
	transform: translateX(100%) translateZ(0); // Hackihack
	visibility: hidden;
	transition: transform $anim-speed-normal $anim-easing,
				visibility $anim-speed-instant linear $anim-speed-normal;
	will-change: transform; // Does it work? Who knows ...

	&.is-visible {
		visibility: visible;
		transform: translateX(0) translateZ(0);
		transition: transform $anim-speed-normal $anim-easing,
					visibility $anim-speed-instant linear;
	}

}

// Header

.bookmark-details-header {
	display: flex;
	width: 100%;
	padding-right: 1.5rem;
	padding-left: 2.5rem;
	padding-top: .2rem;
	height: 6rem;
	background-color: $color-tuna;
	color: $color-white;
}

.bookmark-details-title {
	flex: 1;
	font-size: 1.6rem;
	letter-spacing: .01rem;
	line-height: 5.8rem;
}

.bookmark-details-button {
	padding-right: 1rem;
	padding-left: 1rem;
}

// Content

.bookmark-details-content {
	padding-top: 3rem;
}

.bookmark-details-section {
	margin-right: 2.5rem;
	margin-left: 2.5rem;

	+ .bookmark-details-section {
		margin-top: 3.2rem;
	}

}

// Special content: Labels

.bookmark-details-label {
	display: inline-block;
	margin-right: .4rem;
}

.bookmark-details-label-title {
	color: #999;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.4rem;
	margin-bottom: 1rem;
	margin-left: 2.5rem;
	letter-spacing: .01rem; // Because of the small text
}

.bookmark-details-label-assign {
	margin-top: .4rem;
}
