// COMPONENTS: DIRECTORY

.directory {
	display: block; // Take the space you need - in a visible way for us
}

.directory-level {
	padding-left: 2.1rem; // New indention for every new folder level
}

.directory-link {
	display: block;
	margin-left: -100%; // This ...
	padding-top: .9rem;
	padding-bottom: .9rem;
	padding-left: 100%; // ... and this will make the trick that the link is 100% wide
	transition: background-color $anim-speed-normal $anim-easing;
	line-height: 2.4rem; // Same as icon height
	cursor: pointer; // Because there is no href

	&:hover {
		background-color: #DFDFDF;
	}

	&.is-selected {
		font-weight: $font-weight-bold;
		background-color: #DFDFDF;
	}

}

.directory-name {
	margin-left: 3rem; // Icon width + extra space
}
