// COMPONENTS: LABEL LIST

.label-list-item {
	position: relative;
	display: block;
	width: 100%;
	height: 4.3rem;
	transition: background-color $anim-speed-normal $anim-easing;

	&:hover,
	&:focus {
		background-color: #DADADA;

		.label-list-actions {
			opacity: 1;
		}

	}

	&.is-edited {
		background-color: $color-white;

		.label-list-actions {
			opacity: 1;
		}

	}

}

// Content

.label-list-icon {
	position: absolute;
	top: 1.3rem;
	left: 2.3rem;
	visibility: hidden;

	&.is-visible {
		visibility: visible;
	}

}

.label-list-color {
	position: absolute;
	top: 0;
	left: 1.6rem;
	height: 4.3rem;
	width: 3.4rem;
	padding-left: .8rem;
	padding-right: .8rem;
	opacity: 0; // Hide it but make it clickable and show stuff behind it
	cursor: crosshair;
	visibility: hidden;

	&.is-visible {
		visibility: visible;
	}

}

.label-list-input {
	position: absolute;
	top: .3rem;
	left: 5rem;
	width: calc(100% - 12.8rem); // 5 start + 1.8 end + 2x 3 buttons
}

.label-list-actions {
	position: absolute;
	top: 0;
	right: 1.8rem;
	height: 4.3rem;
	line-height: 4.3rem;
	opacity: .5;
	transition: opacity $anim-speed-normal $anim-easing;
}

.label-list-action {
	display: inline-block;
	height: 100%;
}

.label-list-button {
	height: 4.3rem;
	padding-left: .7rem;
	padding-right: .7rem;
}
