// COMPONENTS: SEARCH

.search {
	position: relative;
}

.search-input {
	width: 100%;
	padding: 0 6.4rem;
	border: none;
	line-height: inherit;
}

.search-icon {
	position: absolute;
	top: 0;
	left: 2.4rem;
}

.search-button-clear {
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 2.2rem;
	padding-left: 2.2rem;

	.icon {
		transition: fill $anim-speed-normal $anim-easing;
	}

	&:hover .icon {
		fill: #888;
	}

}
