// COMPONENTS: SEARCH

.search {
	position: relative;

	&:hover .search-input {
		background-color: rgba($color-white, .1);
	}

}

.search-input {
	width: 100%;
	padding: 0 6.4rem;
	border: none;
	background-color: rgba($color-white, .05);
	line-height: inherit;

	&:focus {
		background-color: rgba($color-white, .1);
	}

}

.search-icon {
	position: absolute;
	top: 2rem;
	left: 2.4rem;
}

.search-button-clear {
	position: absolute;
	top: 0;
	right: 0;

	.icon {
		margin: 2.2rem;

		> svg {
			transition: fill $anim-speed-normal $anim-easing;
		}

	}

	&:hover .icon > svg {
		fill: $color-white;
	}

}
