// COMPONENTS: SEARCH

.search {
	position: relative;
	line-height: 4.8rem;
}

.search-input {
	width: 100%;
	padding: .1rem 7rem 0;
	transition: background-color $anim-speed-fast $anim-easing;
	border: none;
	border-radius: .1rem;
	background-color: rgba($color-white, .12);
	color: $color-white;
	line-height: 4.7rem;

	&::-webkit-input-placeholder {
		transition: opacity $anim-speed-fast $anim-easing;
		color: $color-white;
		opacity: .8;
	}

	&:focus {
		background-color: rgba($color-white, .2);

		&::-webkit-input-placeholder {
			opacity: .3;
		}

	}

}

.search-icon {
	position: absolute;
	top: 2.1rem;
	left: 2.8rem;
}

.search-button-clear {
	position: absolute;
	top: 0;
	right: 1rem;

	.icon {
		margin: 2.2rem;

		> svg {
			transition: fill $anim-speed-normal $anim-easing;
		}

	}

	&:hover .icon > svg {
		fill: $color-white;
	}

}
